li {
  list-style: none;
}
:root {
  --dark-color: #121212;
  --light-color: #f6f6f6;
  --white-color: #ffffff;
  --titles-color: #484848;
  --modal-text: #d8d7d7;
}

body {
  background-color: var(--light-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul ::marker {
  color: var(--light-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  z-index: 999;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

/* header */

.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.2);
  background-color: var(--dark-color);
  text-align: center;
}

.header__container {
  margin: 0 auto;
}

.mobile-menu-button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-menu-button-icon {
  opacity: 0;
}
.menu-button-icon {
  opacity: 1;
}
.is-burger-menu-open {
  .close-menu-button-icon {
    opacity: 1;
  }
}
.is-burger-menu-open {
  .menu-button-icon {
    opacity: 0;
  }
}

/* .mobile-menu-button .close-menu-button-icon { */
/*   opacity: 0; */
/* } */
/**/
/* .mobile-menu-button.is-open .close-menu-button-icon { */
/*   opacity: 0; */
/* } */
/**/
/* .mobile-menu-button.is-open .menu-button-icon { */
/*   opacity: 0; */
/* } */

.menu-button-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__nav__list .item a {
  margin-bottom: 32px;
}
.mobile-menu {
  display: none;
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  background-color: var(--dark-color);
  width: 100%;
  /* height: 734px; */
  /* padding-top: 128px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.mobile-menu__list {
  /* margin-bottom: 426px; */
}
.mobile-menu__list .mobile-menu__list__link {
  text-decoration: none;
  color: var(--light-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}

.mobile-menu__list .item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-icon__list {
  display: flex;
  gap: 14px;
}
.close-menu-button-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__title__name {
  color: var(--light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 20;
  line-height: 1.2;
}

.header__title__text {
  color: var(--light-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header__social__list {
    display: none;
  }

  .header__nav__list {
    display: none;
  }
}

/* first section */

.first__section {
  background-color: var(--dark-color);
}

.first__section__image {
  position: absolute;
  width: 335px;
  height: 439px;
  z-index: -1;
}
.first__section__container {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .first__section__container {
    background-image: url(../images/header-mobile-image.jpg);
    background-size: 335px 439px;
    background-repeat: no-repeat;
    background-position: 20px 40px;
  }
}

.first__section__title {
  color: var(--light-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 80px;
  line-height: 1;
  margin-top: 389px;
  margin-right: 26px;
  margin-left: 26px;
  margin-bottom: 24px;
  letter-spacing: 4px;
}
.first__section__buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 66px;
}

.first__section__buttons .item {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  padding: 9px 24px 9px 24px;
  color: var(--light-color);
  border: 0.8px solid var(--light-color);
  border-radius: 32px;
  cursor: pointer;
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first__section__buttons .item:hover,
.first__section__buttons .item:focus {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.first__section__texts .item {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: var(--light-color);
  width: 314px;
}

.first__section__texts .item:first-child {
  margin-bottom: 32px;
}

/* second section */

.second__section__container {
  padding-left: 20px;
  padding-right: 20px;
}

.second__main__image {
  position: relative;
}

.second__main__image .item:nth-child(1) {
  width: 335px;
  height: 442px;
}
/* ======================================================hotel page=============================================================================== */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.book-modal {
  width: 335px;
  height: 636 px;
  padding: 24px 24px 40px 24px;

  background-color: var(--dark-color);
  border-radius: 2px;
}

.book-modal__title {
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  line-height: 1.11;
  color: var(--light-color);
  margin-bottom: 40px;
}

.book-modal__exit__button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.book-modal__form {
  display: flex;
  flex-wrap: wrap;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 287px;
  cursor: pointer;
}
.book-modal__form__input {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-color);
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #f6f6f633;
  outline: none;
}

.field:not(:last-child) {
  margin-bottom: 32px;
}
.book-modal__form__input__date {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-color);
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #f6f6f633;
  outline: none;
  cursor: pointer;
}

.book-modal__form__input__date::before {
  position: absolute;
  content: "";
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-color: var(--dark-color);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.book-modal__form__input__select {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-color);
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #f6f6f633;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-days {
  position: relative;
}

.custom-select-days__button {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  width: 266px;
  text-align: left;
  color: var(--light-color);
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #f6f6f633;
  cursor: pointer;
}
.custom-select__button {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  width: 287px;
  text-align: left;
  color: var(--light-color);
  text-transform: uppercase;
  padding-bottom: 18px;
  margin-bottom: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #f6f6f633;
  cursor: pointer;
}

.custom-select__button::before {
  position: absolute;
  content: "";
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-color: var(--dark-color);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-select__list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
}
.custom-select-days-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
}

.custom-select__list-visible {
  display: block;
}
.custom-select-days-list--visible {
  display: block;
}

.custom-select__input__hidden {
  visibility: hidden;
}
.custom-select__list .item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  width: 266px;
  text-align: left;
  color: var(--light-color);
  padding: 8px;
  background-color: var(--dark-color);
  border: 0.8px solid var(--titles-color);
  border-bottom: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-select-days-list .custom-select-days-list__item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  width: 266px;
  text-align: left;
  color: var(--light-color);
  padding: 8px;
  background-color: var(--dark-color);
  border: 0.8px solid var(--titles-color);
  border-bottom: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-select__list .item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 0.8px solid var(--titles-color);
}
.custom-select__list .item:hover,
.custom-select__list .item:focus {
  background-color: var(--titles-color);
}

.arrow-down-image {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5%;
  transform: translate(-30%);
  right: -2%;
  pointer-events: none;
}

.book-modal__submit__button {
  margin-left: 26px;
  margin-right: 26px;
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.28;
  width: 235px;
  padding: 14px 49px 14px 49px;
  background-color: transparent;
  cursor: pointer;
  border: 0.8px solid var(--light-color);
  border-radius: 32px;
  color: var(--light-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book-modal__submit__button:hover,
.book-modal__submit__button:focus {
  background-color: var(--light-color);
  color: var(--dark-color);
}
.book-modal__form__name__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  color: var(--modal-text);
}
.book-modal__form__input__name::placeholder {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-color);
}

.custom-select__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0.18em;
  color: var(--modal-text);
}

.list-container {
}

.icon-container {
  margin-top: 100px;
  padding-left: 20px;
}
.js-menu-container {
  height: 100vh;
  padding: 128px 0px 24px 0px;
}
